blinker==1.8.1
click==8.1.7
-e git+https://github.com/mihnea-mihai/etyviz.git@d74e940ccda17e8b4eaab8b0852901bfb4fcee72#egg=etyviz
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.3
MarkupSafe==2.1.5
psycopg==3.1.18
psycopg-binary==3.1.18
typing_extensions==4.11.0
Werkzeug==3.0.2
