:root {
    --text-color: #F5F5F5;
    --bg-color: #0D0D0D;
}

html {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: sans-serif;
}

/* body {
    background-color: #1A1A1A;
} */

header img {
    height: 4rem;
}

header span {
    font-size: 2rem;
    vertical-align: middle;
}

body {
    max-width: 768px;
    margin: auto;
}

.word,
.word + sup {
    font-size: 2em;
}

a {
    color: #00BFFF;
    text-decoration: none;
}

header nav {
    display: flex;
    column-gap: 1vw;
    font-size: x-large;
    align-items: center;
}

footer {
    display: flex;
    column-gap: 1vw;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
}

pre {
    font-size: larger;
    margin: unset;
}
