:root {
    font-size: xx-large;
    --text-color: #F5F5F5;
    --bg-color: #0F0F0F;
    --sec-bg-color: #1A1A1A;
    --accent-color: #0081C8;
    --success-color: #00A651;
    --error-color: #EE334E;
    --warning-color: #FCB131;
}

html {
    background-color: var(--bg-color);
    color: var(--text-color);
}

body {
    margin: auto;
    max-width: 769px;
    font-family: sans-serif;
}

form {
    text-align: center;
}

.text-input > label,
.text-input > input {
    display: block;
    margin: auto;
    padding: 1vh 1vw;
    max-width: 90%;
}

.text-input {
    padding: 2vh 0;
}

input {
    background-color: #1A1A1A;
    border: 1px solid var(--text-color);
    color: var(--accent-color);
    font-size: 1rem;
    max-width: 95%;
}

input[type=submit] {
    font-size: 1rem;
    margin: 5vh 0;
    color: var(--text-color);
    padding: 2vh 2vw;
}
input[type=submit]:hover {
    /* background-color: var(--accent-color); */
    opacity: 69%;
    cursor: pointer;
}

header {
    text-align: center;
}

#banner {
    width: 10rem;
}

:focus-visible {
    outline: unset;
}

input.valid {
    border: var(--success-color) solid 3px;
    color: var(--success-color);
}

input.invalid {
    border: var(--error-color) solid 3px;
    color: var(--error-color);
}

input.pending {
    border: var(--warning-color) solid 3px;
    color: var(--warning-color);
}

footer {
    font-size: small;
    text-align: center;
}
