<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="icon" type="image/x-icon" href="../static/assets/img/favicon.png">
  <title>Etyviz {{ version }}</title>
  <script src="/static/selection.js" defer></script>
  <script src="/static/validation.js" defer></script>
</head>

<body>
  <header>
    {% include "github-corner.html" %}
    <img id="banner" src="../static/assets/img/Etyviz.drawio.svg">
  </header>
  <main>
    <form action="/graph" method="GET" target="_blank">
      <div class="text-input lang">
        <label for="lang">Language</label>
        <input type="search" name="lang" id="lang" autocomplete="off" autocorrect="off" autocapitalize="none"
          class="pending" list="lang-list" required />
        <datalist class="dropdown" id="lang-list"></datalist>
      </div>
      <div class="text-input word">
        <label for="word">Word</label>
        <input type="search" placeholder="" name="word" id="word" autocomplete="off" autocorrect="off"
          autocapitalize="none" class="pending" list="word-list"  required />
        <datalist class="dropdown" id="word-list"></datalist>
      </div>
      <div>
        <!-- <label for="graph">Graph type</label> -->
        <input type="radio" id="history" name="graph" value="history" checked autocomplete="off" />
        <label for="history">Etymology</label>
        <input type="radio" id="relationships" name="graph" value="relationships" autocomplete="off" />
        <label for="relationships">Relationships</label>
      </div>
      <div class="text-input filter-lang" hidden>
        <label for="filter-lang">Filter language</label>
        <input type="search" name="filter-lang" id="filter-lang" autocomplete="off" autocorrect="off"
          autocapitalize="none" class="pending" list="filter-lang-list" disabled />
        <datalist class="dropdown" id="filter-lang-list"></datalist>
      </div>
      <input id="generate" type="submit" value="Generate" class="">
    </form>
  </main>
  <footer>
    <span>etyviz {{ version }}</span>
    <span> · </span>
    <a href="https://github.com/mihnea-mihai/etyviz/issues">Report an issue</a>
    <span> · </span>
    <a href="https://github.com/mihnea-mihai/etyviz/tree/main/graphs/showcase">Showcase</a>
  </footer>
</body>

</html>