

body {
  color: #F2F2F2;
}

div.content-wrapper {
  background-color: #0D0D0D;
}

div.box,
div.info-box,
div.nav-tabs-custom,
div.nav-tabs-custom > .tab-content,
img.diagram,
footer.main-footer {
  background-color: #1A1A1A;
}

table.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #262626;
}

div.box-header {
  color: #F2F2F2;
}
